.playerCard {
    background-color: var(--light-blue);
    border-radius: 0.5rem;
    padding: 1rem;
    width: 100%;
    aspect-ratio: 1 / 1.25;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--box-shadow);
    color: var(--black);
}

.playerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 0.5rem;
    width: 100%;
}

.playerImage {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--light-gray);
    object-fit: cover;
}

.playerName {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerInfo h3 {
    font-size: 1.4rem;
    font-weight: bold;
}

.details {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    row-gap: 0.5rem;
}

.playerInfo h4 {
    font-size: 1rem;
    font-weight: 500;
    width: max-content;
    min-width: max-content;
}

.details > * > h4:first-child {
    font-weight: 400;
}

.birthdate {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5ch;
}

.signatureMove {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5ch;
}

.trashtalkSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
}

.bubbles {
    display: flex;
    gap: 0.4rem;
}

.trashNiveau {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--blue);
}

.ttActive {
    background-color: var(--dark-blue);
}

.fines {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    width: 100%;
    gap: 0.5ch;
}

.fines h4:nth-child(2) {
    font-weight: bolder;
    font-size: 1.1rem;
}


/* ADMIN STYLES */

.playerInfo input {
    all: unset;
    background-color: var(--light-blue);
    color: var(--black);
    border: none;
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
}

.playerName > input {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

.playerEmail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.playerEmail > input {
    width: 100%;
}

.signatureMove {
    max-width: 100%;
}

.adminSave {
    background-color: var(--dark-blue);
    color: var(--white);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}


.trashNiveau {
  border-radius: 50%;
  background-color: var(--blue);
  cursor: pointer;
  transition: background-color 0s;
}

.trashNiveau.ttActive {
  background-color: var(--black);
  transition: background-color 0.5s;
}

/* Hide the default checkbox */
.specialRights {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.labelAdmin {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.labelAdmin input {
    position: absolute;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    top: 0;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.adminIndicator {
    position: relative;
    font-size: 20px;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background: var(--blue);
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* When the checkbox is checked, add a blue background */
.labelAdmin input:checked~.adminIndicator {
    box-shadow: var(--box-shadow);
    background-color: var(--black);
}

/* Create the adminIndicator/indicator (hidden when not checked) */
.adminIndicator:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the adminIndicator when checked */
.labelAdmin input:checked~.adminIndicator:after {
    display: block;
}

/* Style the adminIndicator/indicator */
.labelAdmin .adminIndicator:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid var(--white);
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}
