.available {
  display: grid;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: var(--blue);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  box-shadow: var(--box-shadow);
}

.ownerName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.datetime {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
}

.date {
  text-transform: capitalize;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-weight: 500;
}

.editButton {
  padding: 0.25rem 1rem;
  background: var(--yellow);
  color: var(--black);
}

.deleteButton {
  padding: 0.25rem 1rem;
  background: var(--red);
  color: var(--white);
}