.bookingWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 0.25rem;
}

.switch {
    position: relative;
    display: inline-block;
}

.switch input {
    display: none;
}

.slider {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    border-radius: 999px;
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    text-align: end;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.slider:before {
    content: "";
    position: absolute;
    left: 0.25rem;
    top: 50%;
    transform: translateY(-50%) rotate(145deg);
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--red);
    border-radius: 50%;
    /* background-image: url('src/assets/shuttlecock.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transition: transform 0.5s ease, background-color 0.5s ease; */
    z-index: 1;
    
}

/* When checked */
input:checked + .slider {
    background-color: var(--black);
    padding-left: 0.25rem;
    padding-right: 2.5rem;
}

input:checked + .slider:before {
    background-color: var(--green);
    transform: translate(4rem, -50%) rotate(215deg); 
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--black);
}

/* Text */
.switchText {
    position: relative;
    font-size: 0.75rem;
    font-weight: 800;
    letter-spacing: 0.05rem;
    color: var(--red);
    pointer-events: none;
    transform: translateX(0.5rem);
    transition: color 0.5s ease, transform 0.5s ease;
}

input:checked + .slider .switchText {
    color: var(--green);
    /* transform: translateX(-0.25rem); */
}
