.dropdown {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0.5rem 0.75rem;
    display: flex;
    justify-content: center;
}

.dropdown>button {
    padding: 0;
    width: 100%;
}

.options {
    position: absolute;
    top: 100%;
    background-color: var(--blue);
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    max-height: calc(100dvh - var(--dropdown-top, 0px));
    overflow-y: auto;
    z-index: 10;
    min-width: max-content;
    width: 90%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.options::-webkit-scrollbar,
.options::-webkit-scrollbar-thumb,
.options::-webkit-scrollbar-track {
    background: #00000000;
    border-radius: 8px;
    width: 8px;
}


.options li {
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* .options li.selected {
    background-color: var(--dark-blue);
    color: var(--white);
    font-weight: bold;
} */