.sidebar {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  transition: left 0.5s ease;
  z-index: 1000;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
  height: max-content;
  gap: 1rem;
  padding-bottom: 2rem;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

.profileImage {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  padding: 0.5rem;
}

.email {
  font-size: 1rem;
  font-weight: bold;
  color: var(--blue);
}

.calendarIcon {
  height: 100%;
  fill: var(--black);
}

.birthDateContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 2.5rem;
}

.password {
  font-size: 1rem;
  color: var(--dark-blue);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  cursor: pointer; 
  text-decoration: underline;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

.signatureMove {
  font-size: 1.2rem;
  color: var(--black);
}

.trashtalkSection {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
  width: 100%;
  height: 1rem;
  font-size: 1rem;
}

.trashtalkSection h2 {
  font-size: 1.2rem;
  color: var(--black);
}

.bubbles {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.trashNiveau {
  height: 100%;
  aspect-ratio: 1;
  background-color: var(--black);
  border-radius: 50%;
  margin-right: 5px;
}

.finesContainer {
  padding: 0 1rem;
  width: 100%;
}

.finesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem 0 0;
}

.finesContainer>h2 {
  text-align: start;
  font-size: 1.75rem;
  display: flex;
  flex-direction: column;
}

.fines {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.fineItem {
  display: grid;
  grid-template-areas:
    "fineName fineAssigned"
    "fineName finePrice";
  justify-content: space-between;
  color: var(--green);
  column-gap: 1rem;
  width: 100%;
  background-color: var(--dark-blue);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  box-shadow: var(--box-shadow);
}

.fineStatusNotPaid {
  color: var(--red);
}

.fineName,
.finePrice,
.fineAssigned {
  font-size: 1rem;
  width: max-content;
}

.fineName {
  grid-area: fineName;
  display: flex;
  align-items: center;
  text-align: start;
  font-size: 1.5rem;
  width: 100%;
}

.fineAssigned {
  grid-area: fineAssigned;
  width: 100%;
  font-size: 0.75rem;
}

.finePrice {
  grid-area: finePrice;
  font-size: 1.25rem;
  width: 100%;
  text-align: right;
}
