.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 3rem;
  height: 3rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1100;
  transition: transform 0.75s ease;
  margin-left: auto;
}

.outerRing {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 4px solid var(--black);
  z-index: 2;
  overflow: hidden;
  transition: transform 0.75s ease, border-color 0.75s ease;
}

.profileHead {
  position: relative;
  width: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--black);
}

.profileBody {
  position: absolute;
  bottom: 0rem;
  width: 1.50rem;
  aspect-ratio: 2 / 1;
  border-radius: 50% 50% 0% 100% / 100% 100% 0% 0%;
  background-color: var(--black);
  z-index: -1;
}

.profileCrossLeft,
.profileCrossRight {
  position: absolute;
  width: 0.3rem;
  height: 0rem;
  background-color: var(--red);
  border-radius: 1rem;
  transition: height 0.75s ease;
}

.profileCrossLeft {
  transform: rotate(45deg);
}
.profileCrossRight {
  transform: rotate(-45deg);
}

.open .outerRing {
  border-color: var(--red);
}

.open .profileCrossLeft,
.open .profileCrossRight {
  height: 3rem;
}