.sidebar {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  transition: left 0.5s ease;
  z-index: 1000;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  width: 100%;
  gap: 1.5rem;
}

.sidebar li a,
.sidebar li button {
  text-decoration: none;
  color: var(--black);
  font-size: 2rem;
  cursor: pointer;
  width: 100%;
}