:root {
  --white: #F1FAEE;
  --black: #1D3557;
  --light-blue: #D4EDED;
  --blue: #A8DADC;
  --dark-blue: #457B9D;
  --black-shadow: #1d365880;
  --modal-background: #1d3658bf;
  --red: #D96C6C;
  --yellow: #F4C542;
  --green: #4CAF9D;

  --button-shadow: 0 2px 5px var(--dark-blue), 0 1px 3px var(--green), 0 0 10px var(--light-blue);
  --box-shadow: 0 4px 4px 0 var(--black-shadow);


  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--black);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: var(--blue);
  text-decoration: inherit;
}

body {
  margin: 0;
  padding: 1rem 0.5rem;
  display: flex;
  place-items: center;
  flex-direction: column;
  width: 100dvw;
  height: 100%;
  min-width: 320px;
  min-height: 100dvh;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

#root {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

#root>div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
}

.pageHeader {
  position: absolute;
  place-self: center;
  top: 0.5rem;
  left: 0;
  right: 0;
  font-size: larger;
}

select {
  all: unset;
  box-sizing: border-box;
}

select:focus {
  outline: 2px solid var(--dark-blue);
  outline-offset: 2px;
}

button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}