/* Container with 3D Perspective */
.authContainer {
    place-self: center;
    width: 100%;
    height: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    perspective: 1000px; /* Enables 3D flip */
}

/* Flip Card Wrapper */
.flipCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
}

.flipped {
    transform: rotateY(180deg);
}

/* Shared form styles */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    min-height: 400px;
    height: fit-content;
    padding: 1rem;
    border-radius: 0.5rem;
    background-image: linear-gradient(to bottom, var(--black), var(--blue));
    box-shadow: 0 0 10px var(--dark-blue), 0 0 10px var(--dark-blue);
    position: absolute;
    width: 100%;
    backface-visibility: hidden; /* For 3D flip */
}

/* Back side of the form */
.form.back {
    transform: rotateY(180deg);
}

/* Title */
.title {
    color: var(--white);
    font-size: 2rem;
}

/* Inputs container */
.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

/* Input fields */
.input {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem 0.25rem 0.25rem;
    font-size: 1rem;
    color:  var(--white);
    background-color: inherit;
    border: none;
    border-bottom: 1px solid  var(--white);
    outline: none;
    transition: all 0.4s ease;
}

.input::placeholder {
    color: var(--light-blue);
}

/* Actions section */
.actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

/* Button */
.button {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    color:  var(--white);
    background-color:  var(--dark-blue);
    /* text-shadow: var(--blue) 0px 0px 5px; */
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}

/* Toggle link */
.toggle {
    font-size: 0.9rem;
    color: var(--dark-blue);
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 2px;
}
